# Ignore everything by default
*

# Allow gitignore itself
!.gitignore

# Allow specific file types in root directory
!*.sh
!*.bash
!README.md
!LICENSE
!.envrc.example

# Allow test directory (bats tests + helpers)
!test/
!test/**.bats
!test/**.bash
